*.txt
*.sql
*.log
*.zip
*.code-workspace
apps/performance/xindex.php
apps/performance/xindex.html
apps/performance/app/
apps/performance/test/
apps/performance/includes/cache/
apps/internal/temp/
apps/internal/uploads/
apps/internal/XinstallX/
apps/internal/install/
apps/internal/application/logs/
apps/internal/temp/
#apps/proj/app/
apps/proj/notes/
apps/proj/sql/
apps/proj/temp/
apps/formapps/
apps/ussd/
apps/ts/vendor/
apps/ts/templates/MERQ_TIMESHEET_ETH-CAL_TEMPLATE_BAK.xlsx
apps/timesheet/desktop/