[data-page="mne_business_opportunities_add"][data-itemid="text"] {
  font-style: italic;
  font-weight: bold;
}
[data-page="mne_business_opportunities_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


