[data-page="mne_data_collection_edit"][data-itemid="text"] {
  color: #00b333;
  text-decoration: underline;
  font-weight: bold;
}
[data-page="mne_data_collection_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


